@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .halo-card {
    @apply relative overflow-hidden rounded-xl bg-slate-900;
    z-index: 0;
  }

  .halo-card::before {
    content: "";
    /* full-bleed absolutely */
    @apply absolute inset-0;
    /* a pretty gradient   */
    @apply bg-gradient-to-br from-purple-500 via-pink-500 to-red-500;
    /* start invisible, small, and very blurred */
    @apply opacity-0 scale-75 filter blur-3xl;
    /* animate all admitted properties */
    @apply transition-all duration-300 ease-out;
    z-index: -1;
  }

  .halo-card:hover::before {
    /* fade in and grow to normal size */
    @apply opacity-40 scale-100;
  }
}
